<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749111502302-075ehl5j27v1fhf179fq2ej2ktrj7cf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749111502302-075ehl5j27v1fhf179fq2ej2ktrj7cf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDeKWMr1zeWpcxOhzzylGQpGXWNmFz2Nzg</string>
	<key>GCM_SENDER_ID</key>
	<string>749111502302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EithesApp.developer</string>
	<key>PROJECT_ID</key>
	<string>eithes-android</string>
	<key>STORAGE_BUCKET</key>
	<string>eithes-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749111502302:ios:f82232aa66d56f008be94f</string>
</dict>
</plist>